.goal-item {
  margin: 1rem 0;
  background: rgb(98, 0, 143);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: white;
  padding: 1rem 2rem;
  border-radius: 12px;
}

.goal-item:hover {
  background: rgb(84, 0, 122);
}

.goal-item > p {
  display: inline-block;
  width: 33%;
  margin: 0.5rem 0;
}
